td.headline  {
    border: 1px solid #000000;
    background-color: #00608d;
    color: #ffffff;
}
td.cell {
   border: 1px solid #000000;
   background-color: #ffffff;

}
th.headline {
    border: 1px solid #000000;
    background-color: #00608d;
    color: #ffffff;
}
div.element {
    background-color: #a1d8e2;
    margin: 10px;
}

