<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>出力例</title>
    <style type="text/css">
        table,
        td {
            border: 1px solid;
            border-collapse: collapse;
        }

        table tr td:nth-of-type(1) {
            background-color: rgb(0, 117, 251);
            color: #fff;
        }

        thead,
        tfoot {
            background-color: rgb(0, 117, 251);
            color: #fff;
        }

        div {
            background-color: #9dc1ff;
            margin: 10px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <!---REPLACE1-->
            </tr>
        </thead>
        <tbody>
            <!---REPLACE2-->
    </table>
</body>